# ================= PUBLIC =================
APP_PORT=порт на котором будет доступно клиентское приложение

# ================= DATABASE =================
DataBaseConnectionSettings__Host=db
DataBaseConnectionSettings__Port=1433
DataBaseConnectionSettings__Database=Название базы данных при создании
DataBaseConnectionSettings__Username=sa
DataBaseConnectionSettings__Password=Пароль должен содержать цифры и заглавные и прописные символы

SA_PASSWORD=Пароль должен содержать цифры и заглавные и прописные символы
ACCEPT_EULA=Y

# ================= APP =================
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

# ================= CLIENT =================
VITE_API_BASE_URL=/api